{% extends 'farmer_header.html'%}
{% load static %}
{% block content %}
<div class="breadcrumb-area">
  <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url({% static 'img/bg-img/24.jpg'%});">
      <h2>Add product</h2>
  </div>
  
  <div class="container">
      <div class="row">
          <div class="col-12">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">About</li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
  </div>
<div class="container mt-3">
  {% if done %}
      <h3 style="color:green; text-align: center;">{{done}}</h3>
  {% else %}
      <h3 style="color:red; text-align: center;">{{error}}</h3>
  {% endif %}
    <h2>Add product</h2>
    <form action="{% url 'add_product'%}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3 mt-3">
        <label for="name">product Name:</label>
        <input type="text" class="form-control" id="p_name" placeholder="Enter product name" name="p_name">
      </div>
      <div class="mb-3 mt-3">
       <label for="email">Category:</label><br>
       <select name="category" id="">
        <option value="">------Select Category------</option>
        {% for i in cat %}
        <option value="{{i.category}}">{{i.category}}</option>
        {% endfor %}
       </select>
      </div>
      <div class="mb-3 mt-3">
        <label for="email">Product Price:</label>
        <input type="text" class="form-control" id="price" placeholder="Enter price" name="p_price">
      </div>
      <div class="mb-3">
        <label for="pwd">Product image</label>
        <input type="file" class="form-control" id="pwd" placeholder="" name="p_img">
      </div>
      <div class="mb-3">
        <label for="number">Product stock:</label>
        <input type="text" class="form-control" id="pwd" placeholder="Enter stock" name="p_stock">
      </div>
      <div class="mb-3">
        <label for="address">Product Description:</label>
       <textarea class="form-control" name="p_des" id="" cols="20" rows="10" placeholder="Enter product description" ></textarea>   
      </div>
      <div class="form-check mb-3">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="remember"> Remember me
        </label>
      </div>
      <button type="submit" class="btn btn-primary" name="add">Add</button>
    </form>
  </div>
  <br>
{% endblock %}